/* header */
.navigation-container{
    margin: 0;
    padding: 0;
    border: 0;
    top:0;
    position: sticky;

}
.nav {
    margin-right: 1em;
    padding: 0.5em 1em;

}

.nav a {
    margin: 0 1em;
}
.navigation-container .logo{
    margin: 0 1em;
}
/* cta */
.banner{
    padding: 2em;
}
.home-container{
    margin: 8em;
    margin-left: 2em;
    padding: 2em;
    padding-top: 0em;
}

.button-container{
    margin: 2em 1em 1em 0em; 
    border: 3em;
}
.button-container > *{
    margin: 0em 1em 0em 0em;
    padding: 0.6em 0.8em;
    border-radius: 40px;
}
/* about */
.about-container{
    margin: 10em;
    margin-left: 4em;
    border: 0em;
    padding: 0em;
}
/* grid  */
.grid-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: start;
}
.grid-container > .card{
    border: 1px solid #ccc;
    grid-gap: 10px;
}

.grid-container>.img picture{
    width: 100%;
}
/* new grid asymetrical */
.grid-asymetrical{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
    grid-gap: 10px;
}
.grid-asymetrical> .box{
    border: 1px solid black;
}
/* grid-area: column-start / column-start / row-end / column-end;
Column means the top of the columns not the real 'column'
order
 */
.grid-asymetrical > .box:nth-child(1){
    grid-area: 1 / 1 / span 2/ span 3;
}
.grid-asymetrical > .box:nth-child(2){
    grid-area: 1 /4/3/span 2;
}
.grid-asymetrical > .box:nth-child(3){
    grid-area:3/1/span 3/span 4 ;
}
.grid-asymetrical > .box:nth-child(4){
    grid-area:3/5/span 3/auto;
}

/* form */
.contact-container{
    margin : 2em;

}
.card-text{
    padding: 0 20px 20px;
}
.card-text>button{
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}
.myForm {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: .8em;
    background: black;
    padding: 1.2em;
  }
  .myForm > label  {
    grid-column: 1;
    grid-row: auto;
  }
  .myForm > input,
  .myForm > button {
    grid-column: 2;
    grid-row: auto;
    padding: 1em;
    border: none;
  }

  .myForm textarea {
   min-height: calc(100% - 2em);
   width: 100%;
   border: none;
  }
  #comment-box {
   grid-column: 3;
   grid-row: span 6;
  }
  .myForm > button {
   grid-column: 2 / 4; 
  }


@media screen and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
    }
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: 2fr
        
    }
    .card{
        margin-top: 0;
    }

}